version: 2

jobs:
    build:
      working_directory: ~/howitzer_cucumber_freelancer
      docker:
        - image: circleci/ruby:2.4.1-browsers
      steps:
        - checkout
        - run: git submodule update --init
        - run: bundle install
        - run: bundle exec rake features
        - store_artifacts:
            path: ~/howitzer_cucumber_freelancer/log
            destination: artifact-file
